.card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius:  10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: center;
    margin: 16px;
    background-color: #f9f9f9;
}

.card-image {
    width: 100%;
    border-radius:  8px 8px 0 0;
}

.card-title {
    font-size: 1.5em;
    color: #333;
    margin: 16px 0;
}

.card-description {
    font-size: 1em;
    color: #777;
}